!.vscode/extensions.json 
!.vscode/launch.json 
!.vscode/settings.json 
!.vscode/tasks.json 
*$py.class 
*.bak 
*.cover 
*.egg
*.egg 
*.egg-info/
*.egg-info/ 
*.log
*.manifest 
*.pot
*.py[cod]
*.py[cod] 
*.pyc
*.so
*.spec 
*.swo
*.swp
.DS_Store
.Python build/ 
.cache 
.coverage 
.coverage.* 
.dev.env
.eggs/ 
.env
.env 
.history
.hypothesis/ 
.idea/
.installed.cfg
.installed.cfg 
.mypy_cache/ 
.private/*
.prod.env
.pytest_cache/ 
.python-version 
.tox/ 
.venv 
.vscode/
.vscode/* 
/site 
ENV/ 
__pycache__/
bin/
build/
celerybeat-schedule.* 
coverage.xml 
db.sqlite3
dev.env 
develop-eggs/ 
dist/
downloads/ 
eggs/
env.bak/ 
env/ 
htmlcov/ 
lib/
lib/ 
lib64/
lib64/ 
local_settings.py
logs/*
media/
media/*
nosetests.xml 
parts/ 
pip-delete-this-directory.txt 
pip-log.txt 
prod.env 
sdist/
var/
venv.bak/ 
venv/ 
wheels/ 