{% extends "layouts/base-min.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4 mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-body-secondary">Create your account</p>
            <div class="input-group mb-3"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="../node_modules/@coreui/icons/sprites/free.svg#cil-user"></use>
                  
                </svg></span>
              <input class="form-control" type="text" placeholder="Username">
            </div>
            <div class="input-group mb-3"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="../node_modules/@coreui/icons/sprites/free.svg#cil-envelope-open"></use>
                </svg></span>
              <input class="form-control" type="text" placeholder="Email">
            </div>
            <div class="input-group mb-3"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="../node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                </svg></span>
              <input class="form-control" type="password" placeholder="Password">
            </div>
            <div class="input-group mb-4"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="../node_modules/@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                </svg></span>
              <input class="form-control" type="password" placeholder="Repeat password">
            </div>
            <button class="btn btn-block btn-success" type="button">Create Account</button>
            &nbsp; &nbsp; 
            <span class="pull-right">
              Have an account? <a href="login" class="text-body-primary">Login</a>
            </span>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
